<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <th:block th:each="recipe : ${recipes}">
    <p th:text="${recipe.description}">Recipe's Description</p>
    <ul>
      <h6>Category</h6>
      <th:block th:each="category : ${recipe.categories}">
        <li th:text="${category.description}"></li>
      </th:block>

    </ul>
  </th:block>
</body>


</html>